# fly.toml app configuration file generated for publisheriq-cube on 2025-12-31T17:19:55-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'publisheriq-cube'
primary_region = 'sjc'

[build]
  dockerfile = 'Dockerfile'

[env]
  CUBEJS_CACHE_AND_QUEUE_DRIVER = 'memory'
  CUBEJS_DEV_MODE = 'true'
  CUBEJS_LOG_LEVEL = 'info'
  CUBEJS_PRE_AGGREGATIONS_SCHEMA = 'cube_pre_aggs'
  CUBEJS_TELEMETRY = 'false'
  NODE_ENV = 'production'

[http_service]
  internal_port = 4000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 100
    soft_limit = 80

  [[http_service.checks]]
    interval = '30s'
    timeout = '10s'
    grace_period = '1m0s'
    method = 'GET'
    path = '/readyz'

[[vm]]
  memory = '512mb'
  cpus = 1
  memory_mb = 512
